@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;900&display=swap');


body {
    background-color: #C2D5F5;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;

}

/* Start Header */
header {
    background-color: #1D35AF;
}

nav {
    /* border: 3px solid greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    /* border: 3px solid rgb(255, 47, 47); */
    width: 300px;
    display: flex;
    align-items: center;
    margin:auto 10px;

}

.text-h1 {
    margin-left: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
}

.manu {
    /* border: 3px solid rgba(251, 255, 5, 0.459); */
    width: 300px;
    display: flex;
    list-style: none;
    

}
 
li{
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* End Header */

/* Start main-content */

.main-content {
    margin: auto;
    width: 1000px;

}

.box {
    background-color: #ffffff;
    padding: 20px;
    margin: 30px 0px;
    

}

.botton {
    color: #ffffff;
    background-color: #6E65D8;
    padding:  8px 24px;
    border-radius: 30px;
    display: inline-block;

}

.image {
    width: 100%;

}
 
/* End main-content */



/* Start Footer */

footer {
    background-color: #1D35AF;
    color: #ffffff;
    text-align: center;
    padding: 10px;

}

/* End Footer  */